.footer__column-links {
 display: flex;
 flex-direction: column;
 margin-top: 20px;
 margin-bottom: 16;
 padding-left: 3px;
 padding-right: 0;
}

.footer__list:last-of-type{
    margin-bottom: 0;
}
  